.AboutluxA{
    font-style: super bold;
    background-color: #CEB5B3;
    border-radius: 0px 0px 100px 100px;
}
.AboutimgA9{
    width: 400px;
    height: 500px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 80px;
}
.about_title{
    font-size: 45px;
    font-style: bold;
}

.AboutcontainerAA {
    background-color: #C9C8C9;
}




li a:hover {
    color: rgba(0, 0, 0, 0.507);
}

.about_subtitle {
    background-color: #5b6a9791;
    color: white;
    border: none;
    border-radius: 30px;
    width:500px;
    height: 480px;
    display: grid;
    align-items: center;
    font-size: 22px;
    padding: 1rem;
}


.AboutloginA{
    background-color: #5b6a97;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    width: 155px;
    height: 51px;
    margin-top: 40px;
    border-color: #5b6a97;
}
.AboutloginA:hover{
    background-color: #3e4e73a6;
}
@media (max-width:768px){
    .about_title{
        font-size: 25px;
        text-align: center;
    }

    .AboutimgA9{
        display: none;
    }
      .about_subtitle{
        width:300px;
        height: 400px;
        margin-bottom: 15px;
        font-size: 16px;
        
      }
    
    

}