.container_best {
    display: grid;
    place-items: center;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .cart_best_seller {
      display: grid;
      justify-items: center;
      gap: 14px;
      width: 22rem;
      height: 22rem;
      border-radius: 20px;
      border: 1px solid #000;
      box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.25);
      /* opacity: 0; */
  }
  
  
  .seller_btn {
      border-radius: 0px 0px 20px 20px;
      padding: 2px 134px;
      color: #fff;
      /* border: 1px solid #5b6a97; */
      background: #5b6a97;
  }
  
  .best_title{
    font-size:30px ;
    text-align: center;
  }
  @media (max-width: 768px) {
    .container_best  {
      grid-template-columns: repeat(1, 1fr);
    }
  .best_title{
    font-size: 24px;
  }
    .cart_best_seller{
      width: 97%;
      height: 100%;
    }
  }