 .luxA{
    font-style: super bold;
    background-color: #CEB5B3;
    border-radius: 0px 0px 100px 100px;
}
.imgA9{
    width: 366px;
    height: 480px;
    border-radius: 30px;
}
.justA{
    font-size: 48px;
}
.letA{
    font-size: 24px;
}
.container_contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ceb5b3;
    color:#d7d7d7;
    width: 100%;
    color: black;
}


.input_type {
    background-color: #5b6a9791;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width:532px;
    height: 51px;
    margin-top: 15px;
    outline: none;
    padding: 20px;
}
.textarea {
    background-color: #5b6a9791;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    width:532px;
    height: 216px;
    margin-top: 15px;
    resize: none;
    padding: 20px;
}
.textarea::placeholder{
    color: #fff;
}
.submitA{
    background-color: #5b6a97;
    box-shadow: #5b6a97;
    color: white;
    width: 169px;
    height: 51px;
    border-radius: 20px;
    margin-top: 15px;
    border-color: #5b6a97;
}
.submitA:hover {
    background-color: #3e4e73a6;
}
.loginA{
    background-color: #5b6a97;
    color: white;
    border-radius: 30px;
    width: 155px;
    height: 51px;
    margin-top: 40px;
    border-color: #5b6a97;
}
.loginA:hover{
    background-color: #3e4e73a6;
}
.elementA{
    padding: 5px;
}

@media (min-width: 320px) and (max-width:678px){
    .imgA9{
        display: none;
    }
      .input_type{
        width:100%;
      }
      .textarea {
        width:100%;
      }
      .justA{
        font-size: 40px;
    }
    .letA{
        font-size: 18px;
    }
   
}