.bodyA {
    background-color: #ceb5b3;
    height:auto;
    width: auto;
}
.luxA{
    font-style: super bold;
    background-color: #CEB5B3;
    border-radius: 0px 0px 100px 100px;
}
.imgA9{
    width: 468px;
    height: 637px;
    border-radius: 30px;
    margin-left: 50px;
}
.justA{
    font-size: 48px;
}
.letA{
    font-size: 24px;
}
.containerAA {
    justify-content: center;
    background-color: white;
    height: 750px;
    width: 1100px;
    color: black;
    margin-left: 120px;
}
.containerAB{
    display: flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 50px 52px;
    text-decoration: none;
}

li a:hover {
    color: rgba(0, 0, 0, 0.507);
}

.textareaA {
    background-color: #5b6a9791;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width:532px;
    height: 51px;
    margin-top: 15px;
}
.textareaB {
    background-color: #5b6a9791;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width:532px;
    height: 216px;
    margin-top: 15px;
}
.submitA{
    background-color: #5b6a97;
    box-shadow: #5b6a97;
    color: white;
    width: 169px;
    height: 51px;
    border-radius: 30px;
    margin-top: 15px;
    border-color: #5b6a97;
}
.submitA:hover {
    background-color: #3e4e73a6;
}
.loginA{
    background-color: #5b6a97;
    color: white;
    border-radius: 30px;
    width: 155px;
    height: 51px;
    margin-top: 40px;
    border-color: #5b6a97;
}
.loginA:hover{
    background-color: #3e4e73a6;
}

@media (min-width: 320px) and (max-width:430px){
    .imgA9{
        display: none;
    }
   li {
        flex-direction: column;
        display: none;
        cursor: pointer;
      }
    
      .burger-menu {
        display: block;
      }
      .textareaA{
        width:300px;
        height: 51px;
      }
      .textareaB{
        width:300px;
        height: 51px;
      }
      .justA{
        font-size: 40px;
    }
    .letA{
        font-size: 18px;
    }
    .containerAA{
        height: 420px;
        width: 600px;
        margin-left: -5px;
    }
}