.FooterAndOurClientsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.FooterAndOurClientsContainer h1{
    text-align: center;
}
.subOurClients{
    background-color: #E6DEEC;
    width: 329px;
    height: 235px;
    border-radius: 20px;
    padding: 30px;
}
.subOurClients p:first-child{
    font-size: larger;
}
.subOurClients p:nth-child(3){
    font-size: 15px;
}

.subOurClientsBTN{
    display: flex;
    justify-content: center;
}
.subOurClientsBTN button{
    background-color: #CEB5B3;
    width: 10px;
    height: 10px;
    border: none;
    margin: 10px;
    border-radius: 50%;
}
