.flex{
    background-color: #C9C8C9;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.column1{
    position: absolute;
    background-color: #CEB5B3;
    height: 450px;
    width: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    display:flex;
    flex-direction:column;
    z-index: 2;
    transform: translate(-50%, 0%);
    border-radius: 20px;
}
.email,.pass{
  background: none;
  border-bottom: 1px dotted white;
  outline: none;
  color: white;
  padding: 1px; 
  width: 100%;
  margin: 5px;
}
.column1 label{
    margin-top: 50px;
}

.column2{
    background-color: white;
    display: grid;
    color: #5B6A97;
    height: 25rem;
    width: 45rem;
    position: relative;
    justify-content:end;
    z-index: 1;
    border-radius: 20px;
    padding-right: 90px;
}


.sign-Up-Button{
border-radius: 30%;
border: 2px solid #CEB5B3;
width: 70px;
height: 35px;
color: #CEB5B3;


} 
.loginImage{
width: 150px;
} 

.Login-Button{
    border-radius: 30%;
    border: 2px solid #CEB5B3;
    width: 70px;
    height: 35px;
    background-color: white;
    color: #CEB5B3;

}
.login-title{
color:#CEB5B3;
font-size: 24px;
font-weight: bold;
margin: 10px;
} 

.sig_title{
 color:#FFF;
font-size: 24px;
font-weight: bold;
margin: 10px;
}

@media (max-width: 768px) {

  }
  